<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/js/jquery.js"></script>
</head>
<body>
<h1>hello </h1>
{{num}}
{%for i in [1,2,3,4,5] if i>2 %}
value:{{i}}; loop.index:{{loop.index}}<br>
{%- endfor%}
</body>
</html>